* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-base);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  opacity: .9;
}
