* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-base);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: ease-in-out 200ms;
}

a:hover {
  color: var(--primary-color-hover)
}

label {
  cursor: pointer;
}