:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
  --font-family: 'Poppins', sans-serif;
  --border: solid 1px #868686;
  --border-radius: 4px
}